<!DOCTYPE html>
<html>
  <head>
    <title>Forex Rates</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
    <div id="header" class="container-fluid">
      <h2 class="text-center">Currency Calculator</h2>
    </div>
    <div id="dateHeader" class="container-fluid blackHeader">
      <p class="text-center">Daily Exchange Rates provided By Fixer.io</p>

  


</div>

  <body>
    <%= yield %>
  </body>
</html>
